<app-add-competition-button></app-add-competition-button>
<div class="container" style="margin-top: 10px">
  <app-header></app-header>
  <div class="row">
    <div class="col-12">
      <h4 class="competitions">Competitions</h4>
    </div>
  </div>
  <div style="margin-bottom: 15px">
    <app-competition
      [title]="'Weekly Challenges'"
      [challengersData]="challengersData"
      [canJoin]="true"
    ></app-competition>
  </div>
  <div>
    <app-competition
      [title]="'Double Gain Week Contest'"
      [challengersData]="challengersData2"
      [canJoin]="false"
    ></app-competition>
  </div>
</div>
